.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.scroll-down {
  text-align: center;
  position: absolute;
  bottom: 5%;
  width: 95%;

  &-icon{
    height: 40px;
    width: 40px;
  }
}

