$border-radius-sketchy: 255px 25px 225px 25px/25px 225px 25px 255px;

.collapsable {
    border: 2px solid #333;
    border-radius: $border-radius-sketchy;
    font-size: 20px;
    font-weight: 500;
}