.footer {
    background-color: #273036;
    height: 100%;
    text-align: center;

    .brand-name {
        color: #fff;
        font-size: 42px;
        font-family: 'Cabin Sketch', cursive;
        font-weight: 400;
    }
}