/* Font Styles for Page  */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');


body {
  margin: 0;
  font-family: 'Neucha', cursive;
}

h1 {
  font-size: 6vw;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 400;
  margin: 10px;
}

h2 {
  font-size: 36px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 400;
  margin: 10px;
}